.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 8px 19px 8px 19px;
  background: linear-gradient(78.08deg, #1d2b43 19.96%, #1d2b43 83.92%);
  color: #fff;
  height: 65px;
  

  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
    padding: 11px 19px;
  }
}

.content {
  display: flex;
  align-items: center;
}

.search {
  width: 240px;
  margin-right: 28px;

  @media screen and (max-width: 575px) {
    width: 220px;
    margin-right: 20px;
  }

  
  @media screen and (max-width: 525px) {
    width: 200px;
    margin-right: 20px;
  }

  
  @media screen and (max-width: 462px) {
    width: 140px;
    margin-right: 20px;
  }

}

.notifications {
  display: flex;
  margin-right: 28px;
  margin-top: 2px;

  @media screen and (max-width: 767px) {
    margin-right: 24px;
  }
  @media screen and (max-width: 575px) {
    margin-right: 24px;
  }
}

.text {
  margin-left: 13px;
}

.menu {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  right: 0;
  display: grid;
  justify-content: flex-start;
  gap: 30px;
  padding: 29px 18px 42px;
  background-color: #1d2b43;
}

.item {
  display: flex;
  align-items: center;
  color: #fff;
}

.active {
  color: #fe2c89;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}
