.help {
  padding: 40px 0;

  @media screen and (max-width: 1336px) {
    padding-top: 30px;
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 30px;
  }
}

.title {
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

  @media screen and (max-width: 1336px) {
    gap: 20px;
  }
  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  @media screen and (max-width: 767px) {
    gap: 10px;
  }
}
