.PhoneInput {
  padding: 0 16px;
  border: 1px solid #cdd5e9;
}

.PhoneInputCountry {
  select {
    pointer-events: none;
  }
}

.PhoneInputCountryIcon {
  width: 24px;
  height: 24px;
  box-shadow: none;
  background: none;
}

.PhoneInputCountrySelectArrow {
  display: none;
}

.PhoneInputInput {
  height: 40px;
  border: 0;

  &:focus {
    outline: none;
  }
}
