.schedule {
  position: relative;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 100%;
    display: none;
    width: 20px;
    height: 6px;
    background-color: #f3f5fb;

    @media screen and (max-width: 500px) {
      display: block;
    }
  }
}

.overlay {
  @media screen and (max-width: 500px) {
    overflow: auto;
    margin-right: -20px;
    padding-bottom: 10px;
  }

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 22px;
    background-color: #c1c5d0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 22px;
    background-color: #1d2b43;
  }
}

.body {
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0px 7.56px 47.88px 0px rgba(0, 0, 0, 0.04);
  background-color: #fff;

  @media screen and (max-width: 1336px) {
    margin: 0 auto;
  }
  @media screen and (max-width: 767px) {
    padding: 10px;
  }
  @media screen and (max-width: 500px) {
    width: 535px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
  padding: 0 12px;

  @media screen and (max-width: 767px) {
    margin-bottom: 6px;
    padding: 0;
  }
}

.title {
  font-weight: 600;
  font-size: 17px;

  @media screen and (max-width: 767px) {
    letter-spacing: -0.9px;
  }
}

.chart {
  height: 258px;

  canvas {
    height: 100% !important;
  }

  @media screen and (max-width: 992px) {
    height: 360px;
  }
  @media screen and (max-width: 767px) {
    height: 260px;
  }
}
