
.overflow {
  margin-bottom: 29px;
  overflow: auto;

  /*@media screen and (max-width: 1366px) {
    margin-right: -20px;
  }*/
  @media screen and (max-width: 992px) {
    // margin-right: -20px;
    padding-bottom: 11px;
  }

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 22px;
    background-color: #c4c8d3;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1d2b43;
  }
}

.wrapper {
  
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.opening {
  display: flex;
  align-items: center;
  gap: 4px;
}

.price {
  display: inline-block;
  min-width: 99px;
  padding: 1px 10px;
  border-radius: 4px;
  background-color: #ccf7f8;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 20px 34px 0;

  @media screen and (max-width: 992px) {
    padding-bottom: 21px;
  }
}

.items {
  display: flex;
  gap: 50px;
}

.item {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.5px;
}

.value {
  margin-left: 4px;
  color: #fe2c89;
}

.result {
  color: #00817a;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
}















.results {
  margin-bottom: 30px;
}

.results__table {
  box-sizing: border-box;
  padding-bottom: 20px;
  position: relative;
  border-radius: 10px;
}

@media only screen and (max-width: 767px) {
  .results__table {
    margin-right: -20px;
  }
}

@media only screen and (max-width: 1336px) {
  .results .tabs__nav-item {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .results .tabs__nav-item {
    font-size: 11px;
  }
}

.results table {
  width: 1340px;
  border-collapse: collapse;
  border: 1px solid rgb(220,220,220);
  border-radius: 10px;
  font-size: 14px;
}

@media only screen and (max-width: 767px) {
  .results table {
    font-size: 14px;
  }
}

.results table thead {
  color: #ffffff;
}

.results table thead tr th {
  padding: 4px 0 9px 0;
  border-top: 1px solid #00142c;
  background: rgb(139,244,247);
  font-size: 13px;
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  .results table thead tr th {
    text-align: left;
    padding-left: 10px;
  }
}


.results table tbody tr:last-child {
  border-bottom: none;
}

.results table tbody tr.bluedark td {
  background: rgb(254,44,137);
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.results table tbody tr.gray {
  background: white;
}

.results table tbody tr td {
  padding: 0 13px;
  font-weight: 300;
  text-align: center;
  height: 40px;
  border-bottom: 0.5px solid #cccccc;
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  .results table tbody tr td {
    padding: 0 11px;
    height: 30px;
  }
}

.results table tbody tr td:first-child {
  font-weight: 400;
  text-align: left;
}


.results table tbody tr td.green {
  background: rgb(139,244,247);
}

.results table tbody tr td.blue {
  
}

.results table tbody tr td.yellow {
  background: #fff8b9;
}

.results table tbody tr td.purple {
  background: #ddd4ff;
}

.results table tbody tr td.regular {
  font-weight: 400;
  text-align: left;
  padding-left: 19px;
}

@media only screen and (max-width: 991px) {
  .results table tbody tr td.regular {
    padding-left: 13px;
  }
}

.results table tbody tr td.gray {
  background: rgba(204, 204, 204, 0.25);
}

.results table tbody tr td.lightgray {
  background: white;
}