.thumb {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1d2b43;

  @media screen and (max-width: 767px) {
    width: 11px;
    height: 11px;
  }
}

.track {
  width: 100%;
  height: 8px;
  background-color: #fe2c89;

  @media screen and (max-width: 767px) {
    height: 4px;
  }
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 37px;
  margin-bottom: 7px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.01);
  background-color: #1d2b43;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;

  @media screen and (max-width: 767px) {
    width: 37px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  &::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: inherit;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -8px) rotate(45deg);
  }
}

.min,
.max {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid #fe2c89;
  border-radius: 50%;
  background-color: #fff;

  @media screen and (max-width: 767px) {
    width: 11px;
    height: 11px;
  }

  &::before {
    content: attr(data-value);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    font-size: 16px;

    @media screen and (max-width: 767px) {
      margin-bottom: 14px;
    }
  }
}

.min {
  left: -10px;

  @media screen and (max-width: 767px) {
    left: -6px;
  }
}

.max {
  right: -10px;

  @media screen and (max-width: 767px) {
    right: -6px;
  }
}
